*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #f5f6fc;/*#f5f6fc*/
    padding: 25px 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left ul {
    display: flex;
    list-style: none;
}

ul li a{
    text-decoration: none;
    margin-right: 15px;
    color: rgba(112, 112, 112, 0.822);
    font-weight: 500;
}
ul li a:hover{
    color: rgb(0, 0, 0);
}
.navlogo{
    width: 130px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab{
    margin-left: 15px;
    cursor: pointer;
}
.search{
    background-color: white;
    padding: 6px 8px;
    margin-left: 10px;
    border: 2px  solid rgba(56, 56, 56, 0.881);
    cursor: pointer;
}
input{
    outline: none;
    border: none;
}
.banner{
    position: absolute;
    top: 35%;
    left: 8%;
    max-width: 800px;
}
.heading{
    position: absolute;
    top: 45%;
    left: 47%;
    color: white;
    background-color: rgba(0, 0, 0, 0.621);
    font-size: 45px;
    width: 39.3%;
}
.heading1{
    position: absolute;
    top: 55%;
    left: 47%;
    color: white;
    background-color: rgba(0, 0, 0, 0.621);
    font-size: 45px;
}
.fashionitems{
    width: 75%;
    margin: 25% auto 25% 10%;
    text-align: center;
    position: relative;
}
.col img{
    max-width: 350px;
}
.trends{
    max-width: 500px;
    margin-left: 25%;
    margin-bottom: 70px;
}
.trends h1{
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fashionitems p{
    font-family: 'Ms Madi', cursive;
    font-size: 25px;
    font-weight: 550;
}
.content2{
    margin: 70px auto;
    display: flex;
    position: relative;
}
.col{
    flex-basis: 31%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.layer h3{
    position: absolute;
    bottom: 0;
    left: 28%;
    padding: 10px 20px;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.show{
    width: 100%;
    background-image: url("images/fashion.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 60vh;
}
.exclusive{
    max-width: 350px;
    position: absolute;
    top: 50px;
    right: 20%;
    box-sizing: border-box;
    padding: 40px;
    background-color: rgba(254, 205, 213, 0.751);
    height: 310px;
}
.funshion{
    font-size: 22px;
    font-weight: 500px;
    margin-bottom: 20px;
}
.funcontent{
    font-size: 14px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 30px;
}
.subscribe{
    padding: 15px 20px;
    color: white;
    background-color: black;
    text-decoration: none;
}
.girl{
    position: absolute;
    top: 20%;
    left: 10%;
}
.col-blog img{
    max-width: 250px;
}
.blogs{
    width: 65%;
    margin: 20% auto ;
    text-align: center;
}
.blogs h1{
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    margin-left: 22%;
}
.content3{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-blog{
    flex-basis: 32%;
}
.col-blog p{
    font-weight: 600;
    margin: 20px auto;
}
.brands{
    margin: 7% auto;
    width: 75%;
}
.content4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px auto 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-basis: 15%;
    text-align: center;
}
.img img{
    width: 70px;
    margin: 50px auto;
}
.brands h1{
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    margin-left: 22%;
    margin-bottom: 14%;
    text-align: center;
}
.img p{
    margin-top: 20px;
    font-weight: 550;
}
.insta img{
    max-width: 100px;
}
.footer{
    width: 100%;
    background-color: #f5f6fc;
    height: 60vh;
    margin: 15% auto 0 auto;
    box-sizing: border-box;
}
.content5{
    /* box-sizing: border-box; */
    width: 90%;
    margin: 60px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-col{
    width: 400px;
    height: 250px;
    margin-top: 50px;
    text-align: left;
    flex-basis: 31%;
}
.pay{
    max-width: 400px;
}
.insta{
    display: flex;
    flex-direction: column;
}
.first{
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
}
.first img{
    flex-basis: 33%;
}
.second{
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
}
.second img{
    flex-basis: 33%;
}
.footer-col p{
    margin-bottom: 30px;
    position: relative;
    font-weight: 450;
}
.footer-col p::after{
    content: '';
    width: 17%;
    height: 2px;
    background-color: rgb(54, 64, 255);
    position: absolute;
    bottom: -6px;
    left: 0;
}
.copyright{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.copyright p{
    font-size: 14px;
}
.apps{
    cursor: pointer;
}